# PostgreSQL
POSTGRES_USER=root
POSTGRES_PASSWORD=your-secret-pw

# User service
USER_DATABASE_URL=postgresql://root:your-secret-pw@skyros.postgres.database:5432/userservice?sslmode=disable&connect_timeout=30000
USER_SECRET_KEY=userservice-secret-key
USER_GRPC_SERVER_PORT=4011
USER_GRPC_SERVICE_ENDPOINT=skyros.userservice.svc:4011
USER_GRPC_GATEWAY_SERVER_PORT=4001

# Product service
PRODUCT_DATABASE_URL=postgresql://root:your-secret-pw@skyros.postgres.database:5432/productservice?sslmode=disable&connect_timeout=30000
PRODUCT_SECRET_KEY=productservice-secret-key
PRODUCT_GRPC_SERVER_PORT=4022
PRODUCT_GRPC_SERVICE_ENDPOINT=skyros.productservice.svc:4022
PRODUCT_GRPC_GATEWAY_SERVER_PORT=4002

# Order service
ORDER_DATABASE_URL=postgresql://root:your-secret-pw@skyros.postgres.database:5432/orderservice?sslmode=disable&connect_timeout=30000
ORDER_SECRET_KEY=orderservice-secret-key
ORDER_GRPC_SERVER_PORT=4033
ORDER_GRPC_SERVICE_ENDPOINT=skyros.orderservice.svc:4033
ORDER_GRPC_GATEWAY_SERVER_PORT=4003

# Gateway service
GATEWAY_PORT=4000

# Shared
APP_ENV=development
ENABLE_GATEWAY_GRPC=false
